            </div><!-- .col-lg-12 -->

        </div><!-- .row -->

    </div><!-- .container -->

</div><!-- wrap -->

<script src="/.fancy-indexing/resources/assets/js/jquery.min.js"></script>
<script src="/.fancy-indexing/resources/assets/js/script.js"></script>

</body>
</html>
