/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Jumbotron
# Index Break Row
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Jumbotron
--------------------------------------------------------------*/
.jumbotron {
    text-align: center;
    background-color: transparent;
}

/*--------------------------------------------------------------
# Index Break Row
--------------------------------------------------------------*/
.indexbreakrow {
    display: none;
}
